.navbar {
    width: 100%;
    height: 120px;
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
    align-items: center;
    background: rgb(7, 28, 33);
    padding: 20px 10px;
    box-sizing: border-box;
}

.navbar-logo {
   display: flex;
   justify-content: flex-start;
   align-items: center; 
}

.navbar-logo img {
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
}

.navbar-links li a:hover{
    color: rgb(140, 255, 110);
}

.hamburger {
    display: none; /* Hidden by default */
    cursor: pointer;
}

.mobile-menu-container {
    display: none; /* Hidden by default */
    align-items: center; /* Align items in the center */
}

.desktop-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row; /* Keep items in a row */
        justify-content: space-between; /* Space between logo and mobile menu */
    }

    .navbar-links {
        display: none; /* Hide links by default */
        flex-direction: column; /* Stack links vertically */
        position: absolute; /* Position links absolutely */
        top: 120px; /* Adjust according to your navbar height */
        left: 0;
        width: 100%;
        background: rgb(7, 28, 33); /* Background for the dropdown */
        padding: 1rem 0; /* Padding for dropdown */
    }

    .navbar-links.open {
        display: flex; /* Show links when open */
    }

    .hamburger {
        display: block; /* Show hamburger icon on mobile */
    }

    .mobile-menu-container {
        display: flex; /* Show container on mobile */
    }

    .desktop-menu-container{
        display: none;
    }
}
