.navbar {
    width: 100%;
    height: 120px;
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
    align-items: center;
    background: rgb(7, 28, 33);
    padding: 20px 10px;
    box-sizing: border-box;
}

.navbar-logo {
   display: flex;
   justify-content: flex-start;
   align-items: center; 
}

.navbar-logo img {
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
}

.navbar-links li a:hover{
    color: rgb(140, 255, 110);
}

.hamburger {
    display: none; /* Hidden by default */
    cursor: pointer;
    position: relative;
    right: 20px;
    z-index: 20px;
}

.mobile-menu-container {
    display: none; /* Hidden by default */
    align-items: center; /* Align items in the center */
}

.desktop-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row; /* Keep items in a row */
        justify-content: space-between;
        position: relative;
    }

    .navbar-links {
        display: none; /* Hide links by default */
        flex-direction: column; /* Stack links vertically */
        position: absolute; /* Position links absolutely */
        top: 120px; /* Adjust according to your navbar height */
        right: 120px;
        width: 100%;
        background: rgb(7, 28, 33); /* Background for the dropdown */
        /* padding: 1rem 0; */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    }

    .navbar-links.open {
        display: flex; /* Show links when open */
    }

    .navbar-links li {
        /* margin: 1rem 0; */
        /* padding: 0.5rem 2rem; */
        width: 100%;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    .navbar-links li:hover {
        background-color: rgba(140, 255, 110, 0.1);
    }

    .navbar-links li a {
        display: block;
        font-size: 1.2rem;
        padding: 0.5rem 0;
        color: white;
        transition: color 0.3s ease;
    }

    .navbar-links li a:hover {
        color: rgb(140, 255, 110);
    }

    .hamburger {
        display: block;
        position: absolute;
        margin-right: 20px;
    }

    .mobile-menu-container {
        display: flex;
        position: absolute;
        right: 0;
        top: 20px;
        z-index: 10;
    }

    .desktop-menu-container{
        display: none;
    }
}



