.modal-container {
    background: white;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Added padding for better spacing */
}

.modal-form-container {
    height: 700px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: #f9f9f9; /* Light background for contrast */
    /* padding: 20px; */
    padding-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    gap: 20px;
}


/**
 * Styles the image container for the contact form.
 * The image should be 200px by 200px in size.
 */
.contact-image {
    height: 200px !important;
    width: 200px !important;
    border-radius: 20px;
}

.modal-header {
    color: #8cff6e;
    font-size: 2rem; /* Increased font size for prominence */
    margin-bottom: 20px; /* Added margin for spacing */
}

.modal-form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.modal-form-group input[type="text"],
.modal-form-group textarea {
    height: 40px; /* For input */
    padding: 10px; /* Added padding for comfort */
    box-shadow: 2px 2px 1px 1px #8cff6e;
    border: 2px solid #8cff6e; /* Border matching the green theme */
    border-radius: 5px; /* Rounded corners */
    transition: border-color 0.3s; /* Smooth border transition */
}

.modal-form-group input[type="text"]:focus,
.modal-form-group textarea:focus {
    border-color: #76e679; /* Lighter green on focus */
    outline: none;
}

.left {
    text-align: left;
    font-weight: bold;
    color: rgb(7, 28, 33);
    font-weight: 700;
}

.modal-button {
    background-color: #8cff6e; /* Green background */
    color: white; /* White text for contrast */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for a larger button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 70%;
}

.modal-button:hover {
    background-color: #76e679; /* Lighter green on hover */
}

@media (max-width: 768px) {
    .modal-form-container {
        width: 90%;
    }
}
