.modal-container {
    background: white;
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-form-container {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.image-container{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image{
    height: 300px;
    width: 300px;
}

.modal-header {
    color: #8cff6e;
}

 .modal-form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
 }

 .modal-form-group input[type="text"]{
    height: 40px;
    box-shadow: 2px 2px 1px 1px #8cff6e;
    border: none;
 }
 





@media (max-width: 768px) {
    .modal-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .modal-form-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2px;
        align-items: center;
    }

    .contact-image {
        flex: 1;
    }
}