.footer-nav { 
    display: flex;
    height: auto; /* Adjust height */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(7, 28, 33);
    padding: 20px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Add margin for spacing */
}

.footer-logo img {
    height: 100px; /* Adjust to desired height */
    width: 100px;  /* Adjust to desired width */
    /* object-fit: cover; Ensures the image covers the area */
    cursor: pointer;
}

.footer-links {
    display: flex;
    justify-content: center; /* Center the icons */
    align-items: center;
    gap: 15px; /* Space between icons */
    margin: 20px 0; /* Adjust margin for better spacing */
}

.icon {
    color: white;
}

.icon:hover {
    color: rgb(140, 255, 110);
}
