.navbar {
    width: 100%;
    height: 120px;
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
    align-items: center;
    background: rgb(7, 28, 33);
    padding: 20px 10px;
    box-sizing: border-box;
}

.navbar-logo {
   display: flex;
   justify-content: flex-start;
   align-items: center; 
}

.navbar-logo img {
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
}

.navbar-links li a:hover{
    color: rgb(140, 255, 110);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically */
        height: auto; /* Allow height to adjust */
    }

    .navbar-links {
        flex-direction: column; /* Stack links vertically */
        align-items: flex-start; /* Align links to the start */
        width: 100%; /* Full width */
    }

    .navbar-links li {
        margin: 0.5rem 0; /* Space between links */
    }
}
