.navbar {
    width: 100%;
    height: 120px;
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
    align-items: center;
    background: rgb(7, 28, 33);
    padding: 20px 10px;

}

.navbar-logo {
   display: flex;
   justify-content: flex-start;
   align-items: center; 
}

.navbar-logo img {
    width: 150px;
    border-radius: 50%;
}

.navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
}

.navbar-links li a:hover{
    color: rgb(140, 255, 110);
}